@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Chillax-Semibold";
  src: url("font/Chillax-Semibold.ttf") format("truetype");
  display: swap;
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("font/AvenirNext-Regular.ttf") format("truetype");
  display: swap;
}

@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("font/AvenirNext-DemiBold.ttf") format("truetype");
  display: swap;
}

@font-face {
  font-family: "Chillax-Bold";
  src: url("font/Chillax-Bold.ttf") format("truetype");
  display: swap;
}


header {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in-out;
}
.headroom--pinned {
  z-index: 1000 !important;
}
.headroom--pinned header {
  margin-top: 0 !important;
  transition: all 0.3s ease-in-out;
  z-index: 1000 !important;
}



.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

.ctn-preloader .animation-preloader .spinner,
.spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(7, 71, 161, 0.2);
  border-top-color: rgb(7, 71, 161);
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.loading-button {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(7, 71, 161, 0.2);
  border-top-color: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}
.subscribe-loading-button {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(7, 71, 161, 0.2);
  border-top-color: rgb(7, 71, 161);
  height: 25px;
  width: 25px;
}


.ctn-preloader .animation-preloader .txt-loading {
  font-size: 5em;
  text-align: center;
  user-select: none;
  @apply font-secondary lowercase;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: rgb(7, 71, 161);
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  transform: rotateY(-90deg);
  @apply top-[-3px] md:top-[-6px];
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(7, 71, 161, 0.2);
  position: relative;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(8):before {
  animation-delay: 1.4s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}


.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  .ctn-preloader .animation-preloader .txt-loading {
    font-size: 3.5em;
    @apply font-secondary;
  }
}

@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  .ctn-preloader .animation-preloader .txt-loading {
    font-size: 2em;
    @apply font-secondary;
  }
}


footer a {
  @apply transition-all hover:text-primary;
}

.blog-category{
  padding: 12px 34px 12px 34px;
  background: #0747A1;
  border-radius: 9999px;
  font-family: "Avenir", sans-serif;
  line-height: 21.86px;
  color: white;
  top: 30px;
  left: 30px;

}